.container-1 {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200%;
    width: 100%;
    height: 350px;
  
    .content-1 {
      margin: auto;
      line-height: 25px;
      margin-left: 100px;
    }
  
    h2 {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px){
    .container-1 {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: auto;
   
      img {
        width: 400px;
     
      }
  
      .content-1 {
        width: 400px;
        padding: 10px;
        align-items: center;
        text-align: center;
        font-size: 12px;
        margin-right: 90px;
        margin-bottom: 60px;
      }
    } 
  }