.section {
    display: flex;
    justify-content: space-between;
    max-width: 1200%;
    width: 100%;
    line-height: 25px;
    margin: auto;
  
    .theme {
      display: flex;
      max-width: 1200%;
      width: 100%;
      height: 300px;
      text-align: center;
      align-items: center;
      justify-content: center;
      background: $silver;
      gap: 50px;
    }
  
    h3 {
      margin-bottom: 10px;
    }
  
    i {
      color: $blue;
      margin-bottom: 40px;
      cursor: pointer;
    }
  }