@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700&display=swap');

@import 'variables';

@import 'reset';
@import 'header';
@import 'info';
@import 'info-1';
@import 'section';
@import 'container';
@import 'container-1';
@import 'container-2';
@import 'title';
@import 'opinion';
@import 'footer';




@media (max-width: 768px){
  header {
    height: auto;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    padding: 15px;
  }
}

@media (max-width: 768px){
  .information {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    margin: auto;
  
    .input {
      width: 300px;
      height: 40px;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .sign-2 {
      align-items: center;
      margin-left: -5px;
      width: 300px;
      height: 40px;
    }
  } 
}

@media (max-width: 768px){
  .information-1 {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: auto;
  
    .input {
      width: 300px;
      height: 40px;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .sign-2 {
      align-items: center;
      margin-left: -5px;
      width: 300px;
      height: 40px;
    }
  } 
}

@media (max-width: 768px){
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
 
    img {
      width: 400px;
    }

    .content {
      width: 400px;
      padding: auto;
      align-items: center;
      text-align: center;
      font-size: 12px;
      margin-right: 90px;
      margin-bottom: 70px;
    }
  } 
}

@media (max-width: 768px){
  .container-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
 
    img {
      width: 400px;
   
    }

    .content-1 {
      width: 400px;
      padding: 10px;
      align-items: center;
      text-align: center;
      font-size: 12px;
      margin-right: 90px;
      margin-bottom: 60px;
    }
  } 
}

@media (max-width: 768px){
  .container-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
 
    img {
      width: 400px;
    }

    .content-2 {
      width: 400px;
      padding: 10px;
      align-items: center;
      text-align: center;
      font-size: 12px;
      margin-left: 10px;
      margin-right: 5px;
      margin-bottom: 50px;
    }
  } 
}

@media (max-width: 768px){
  .people {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 300px;
  } 
}

@media (max-width: 768px){
  .theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
  } 
}






