@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700&display=swap');

$blue: #007bff;
$font1: lato;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font1;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200%;
  height: 50px;
  margin: auto;
  
  .sign {
    width: 60px;
    height: 30px;
    background: $blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
  }
  .sign:hover {opacity: 0.6}
}

.info {
  background: url(../images/bg-masthead.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  width: 100%;
  height: 400px;
  display: flex;


  .information {
    text-align: center;
    margin: auto;
  }

  .input {
    width: 230px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
  }

  .sign-2 {
    width: 70px;
    height: 25px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
  }
  .sign-2:hover {opacity: 0.8}

  // &:hover {opacity: 0.8}
}




.section-2 {
  width: 100%;
  height: 300px;
  line-height: 25px;
  display: flex;

  .container-2 {
    width: 100%;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    gap: 50px;
  }

  h3 {
    margin-bottom: 10px;
  }

  img {
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

main {
  display: flex;
 

  .box-1 {
    height: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    color: black;
  }

  .box-2 {
    height: 400px;
    object-fit: cover;
    width: 30%;
    cursor: pointer;
  }

  .box-3 {
    height: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    color: black;
  }

  .box-4 {
    height: 400px;
    object-fit: cover;
    width: 50%;
    cursor: pointer;
  }

  .box-6 {
    height: 400px;
    width: 50%;
    object-fit: cover;
    width: 50%;
    cursor: pointer;
  }

  .box-5 {
    height: 400px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    color: black;
  }
}

.section-0 {
  line-height: 25px;
  display: flex;

  .container-0 {
    width: 100%;
    height: 80px;
    background: #f8f9fa;
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
    gap: 50px;
  }

  h2 {
  }

  img {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 100%;
    cursor: pointer;
  }
}

.section-3 {
  line-height: 25px;
  display: flex;

  .container-3 {
    width: 100%;
    height: 350px;
    background: #f8f9fa;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  h2 {
  }

  img {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 100%;
    cursor: pointer;
  }
}






.info-1 {
  background: url(../images/bg-masthead.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  width: 100%;
  height: 250px;
  display: flex;


  .information-1 {
    text-align: center;
    margin: auto;
  }

  .input {
    width: 320px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
  }

  .sign-2 {
    width: 90px;
    height: 30px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
  }
    .sign-2:hover {opacity: 0.6}

    // &:hover {opacity: 0.6}
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200%;
  height: 120px;;
  margin: auto;

  i {
    color: $blue;
  }
  
  .social {
    display: flex;
    gap: 15px;
    width: 80px;
    height: 30px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    color: $blue;
  }

  span {
    margin: 10px;
  }

  p {
    margin-top: 5px;
    font-size: 15px;
  }
}






// /* mobile */
// @media (max-width: 500px) {
//   .header {
//     width: 100px;
//     height: 50px;
//     align-items: center;
//     margin-bottom: 20px;
//     flex-direction: column;
//   }

//   .section-1 {
//     height: 800px;
//     justify-content: center;
//   }

//   .container-1 {
//     flex-direction: column;
//     width: 350px;
//     height: 300px;
//     font-size: 30px;
//   }

//   .container-1 .input {
//     flex-direction: column;
//     width: 350px;
//     height: 50px;
//     font-size: 25px;
//   }

//   .container-1 .sign-2 {
//     margin-top: 15px;
//     flex-direction: column;
//     align-items: center;
//     width: 350px;
//     height: 50px;
//     font-size: 25px;
//   }

//   .section-2 {
//     height: 700px;
//     width: auto;
//     align-items: flex-start;
//   }

//   .container-2 {
//     margin-top: 180px;
//     flex-direction: column;
//     width: 350px;
//     height: 300px;
//     font-size: 20px;
//   }

//   .content-3 {
//     flex-direction: column;
//     display: flex;
//     height: 100px;
//     width: 100%;
//   }

//   .section content-3 {
//     width: 350px;
//     height: 600px;
//     font-size: 20px;
//   }
// }




